.header{
background-color: #f5f5f5;
z-index: 1;
}
img{
    max-width: 100%;
}
.mgt-20p{
 margin-top: 20px;
}
.align-center{
    align-items: center
}
@media only screen and (min-width: 1200px) {
    .list-menu {
      display: none;
    }
    .menu-mini{
        opacity: 1;
        left: 0;
        
    }
    
}
@media only screen and (max-width: 1200px) {
    .about-me {
      display: none;
    }
    .list-menu-head{
        display: none;
    }
    .azx{
        display: none;
    }
    
}


button{
    border: none;
}
.relative{
    position: relative;
}
.bt-close{
    position: absolute;
    right: 0;
    background-color: red;
    color: #f5f5f5;
}

.js-center{
    justify-content: center;
}
.list-la{
    max-width: 100%;
}
.mgl-10px{
    margin-left: 10px;   
}
.icon-item{
    margin-left: 10px;
    margin-top: 10px;
    
}
.icon-item i{
    margin-right: 30px;
    font-size: large;
}
.bg-color{
background-color: #f5f5f5;
}
.language select{
   border: none;
   background-color: #f5f5f5;
}
.language-size{
    font-size: small;
}
.mglt-10px{
    margin-left: 10px;
    margin-top: 10px;
}
.mgt-30px{
    margin-top: 30px;
}
.mgl-20px{
    margin-left: 20px; 
    border-left: solid #bbc0c0;  
}
.az a{
    text-decoration: none;
    margin-bottom: 20px;
}
.az a:hover {
    color: #7fad39;
}
.contact i{
    font-size: large;
    margin-right: 20px;
}
.mgt-40px{
    margin-top: 30px;
}
.hight-max{
    height:  100%;
}
.mail i{
margin-right: 30px;
}
.mail{
    font-size: small;
}
.list-menu{
    background-color: white;
    font-size: x-large;
}
.title{
    height: 40px;
}
.ship{
    margin-left: 60px;
}
.list-menu-head{
    background-color: #f5f5f5;
    height: 40px;
    margin-top: 20px;
}
.headers{
    margin-top: 20px;
}
.absolute{
    position: absolute;
}
.r-0{
    right: 0;;
}
.dropbtn {
    background-color: #7fad39;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
  }
  

  
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top:58px;
  }
  
.dropdown-content a {
    
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
  }
  
  .dropdown a:hover {background-color: #ddd;color: #7fad39;}
  
  .show {display: block;}
.list-menu{
    position: absolute;
    right: 0;
}
.hero_item {
	height: 431px;
	display: flex;
	align-items: center;
	padding-left: 440px;
    top:30px;
}
.hero_text span {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 4px;
	color: #7fad39;
}

.hero_text h2 {
	font-size: 46px;
	color: #252525;
	line-height: 52px;
	font-weight: 700;
	margin: 10px 0;
}

.hero_text p {
	margin-bottom: 35px;
}
.hero_text{
    position: absolute;
    top: 300px;
    left: 600px;
}
.hero_text a{
text-decoration: none;
}
.hero_text a:hover{
    text-decoration: none;
    color: #7fad39;
}
.t-200{
    position: relative;
    
}
.site-btn {
	font-size: 14px;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
	display: inline-block;
	padding: 13px 30px 12px;
	background: #7fad39;
	border: none;
}
.mgbt{
    margin-bottom: 10px;
}
.seach-item{
    margin-left:0% ;
}
.call-me-now span{
        font-size: 14px;
        color: #6f6f6f;
}
.call-item{
    color: #7fad39;
    font-size: x-large;
}
.call-me-now h5{
	color: #1c1c1c;
	font-weight: 700;
	margin-bottom: 5px;
}
.mgl-20p{
    margin-left:20px ;
}
.mgt-20p{
    margin-top:80px ;
}
.control-wrapper a{
    
    text-decoration: none;
}
.control-wrapper a:hover{
    
    color: #7fad39;
}
.abcd{
    display: flex;
}
.vegetable{
    text-align: center;
}
.text-center{
    text-align: center;
}
.latest-product__text h4 {
	font-weight: 700;
	color: #1c1c1c;
	margin-bottom: 45px;
}
.sidebar__item .latest-product__text {
	position: relative;
}

.sidebar__item .latest-product__text h4 {
	margin-bottom: 45px;
}

.sidebar__item .latest-product__text .owl-carousel .owl-nav {
	right: 0;
}
.latest-product__slider.owl-carousel .owl-nav {
	position: absolute;
	right: 20px;
	top: -75px;
}

.latest-product__slider.owl-carousel .owl-nav button {
	height: 30px;
	width: 30px;
	background: #F3F6FA;
	border: 1px solid #e6e6e6;
	font-size: 14px;
	color: #636363;
	margin-right: 10px;
	line-height: 30px;
	text-align: center;
}

.latest-product__slider.owl-carousel .owl-nav button span {
	font-weight: 700;
}

.latest-product__slider.owl-carousel .owl-nav button:last-child {
	margin-right: 0;
}
.section-title {
	margin-bottom: 50px;
	text-align: center;
}

.section-title h2 {
	color: #1c1c1c;
	font-weight: 700;
	position: relative;
}

.section-title h2:after {
	position: absolute;
	left: 0;
	bottom: -15px;
	right: 0;
	height: 4px;
	width: 80px;
	background: #7fad39;
	content: "";
	margin: 0 auto;
}
.featured__controls {
	text-align: center;
	margin-bottom: 50px;
}

.featured__controls ul li {
	list-style: none;
	font-size: 18px;
	color: #1c1c1c;
	display: inline-block;
	margin-right: 25px;
	position: relative;
	cursor: pointer;
}

.featured__controls ul li.active:after {
	opacity: 1;
}

.featured__controls ul li:after {
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 2px;
	background: #7fad39;
	content: "";
	opacity: 0;
}

.featured__controls ul li:last-child {
	margin-right: 0;
}
.featured__item {
	margin-bottom: 50px;
}

.featured__item:hover .featured__item__pic .featured__item__pic__hover {
	bottom: 20px;
}

.featured__item__pic {
	height: 270px;
	position: relative;
	overflow: hidden;
	background-position: center center;
}

.featured__item__pic__hover {
	position: absolute;
	left: 0;
	bottom: -50px;
	width: 100%;
	text-align: center;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-ms-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.featured__item__pic__hover li {
	list-style: none;
	display: inline-block;
	margin-right: 6px;
}

.featured__item__pic__hover li:last-child {
	margin-right: 0;
}

.featured__item__pic__hover li:hover a {
	background: #7fad39;
	border-color: #7fad39;
}
.featured__item__pic__hover li:hover button {
	background: #7fad39;
	border-color: #7fad39;
	color: #f5f5f5;
}


.featured__item__pic__hover li:hover a i {
	color: #ffffff;
	transform: rotate(360deg);
}

.featured__item__pic__hover li a {
	font-size: 16px;
	color: #1c1c1c;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #ebebeb;
	background: #ffffff;
	display: block;
	border-radius: 50%;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-ms-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}
.featured__item__pic__hover li button {
	font-size: 16px;
	color: #1c1c1c;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #ebebeb;
	background: #ffffff;
	display: block;
	border-radius: 50%;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-ms-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.featured__item__pic__hover li a i {
	position: relative;
	transform: rotate(0);
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}
.featured__item__pic__hover li button i {
	position: relative;
	transform: rotate(0);
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.featured__item__text {
	text-align: center;
	padding-top: 15px;
}

.featured__item__text h6 {
	margin-bottom: 10px;
}

.featured__item__text h6 a {
	color: #252525;
}

.featured__item__text h5 {
	color: #252525;
	font-weight: 700;
}
.featured__item__pic__hover {
	position: absolute;
	left: 0;
	bottom: -50px;
	width: 100%;
	text-align: center;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-ms-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.featured__item__pic__hover li {
	list-style: none;
	display: inline-block;
	margin-right: 6px;
}

.featured__item__pic__hover li:last-child {
	margin-right: 0;
}

.featured__item__pic__hover li:hover a {
	background: #7fad39;
	border-color: #7fad39;
}

.featured__item__pic__hover li:hover a i {
	color: #ffffff;
	transform: rotate(360deg);
}

.featured__item__pic__hover li a {
	font-size: 16px;
	color: #1c1c1c;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #ebebeb;
	background: #ffffff;
	display: block;
	border-radius: 50%;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-ms-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.featured__item__pic__hover li a i {
	position: relative;
	transform: rotate(0);
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}
.from-blog {
	padding-top: 50px;
	padding-bottom: 50px;
}

.from-blog .blog__item {
	margin-bottom: 30px;
}

.from-blog__title {
	margin-bottom: 70px;
}
.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}
.blog__item {
	margin-bottom: 60px;
}

.blog__item__pic img {
	min-width: 100%;
}

.blog__item__text {
	padding-top: 25px;
}

.blog__item__text ul {
	margin-bottom: 15px;
}

.blog__item__text ul li {
	font-size: 16px;
	color: #b2b2b2;
	list-style: none;
	display: inline-block;
	margin-right: 15px;
}

.blog__item__text ul li:last-child {
	margin-right: 0;
}

.blog__item__text h5 {
	margin-bottom: 12px;
}

.blog__item__text h5 a {
	font-size: 20px;
	color: #1c1c1c;
	font-weight: 700;
}

.blog__item__text p {
	margin-bottom: 25px;
}

.blog__item__text .blog__btn {
	display: inline-block;
	font-size: 14px;
	color: #1c1c1c;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: 1px solid #b2b2b2;
	padding: 14px 20px 12px;
	border-radius: 25px;
}

.blog__item__text .blog__btn span {
	position: relative;
	top: 1px;
	margin-left: 5px;
}

.blog__pagination {
	padding-top: 5px;
	position: relative;
}
.blog__item__text h5 a{
	text-decoration:none ;
}
.featured__item__text h6 a{
	text-decoration: none;
}

.footer {
	background: #F3F6FA;
	padding-top: 70px;
	padding-bottom: 0;
}

.footer__about {
	margin-bottom: 30px;
}

.footer__about ul li {
	font-size: 16px;
	color: #1c1c1c;
	line-height: 36px;
	list-style: none;
}

.footer__about__logo {
	margin-bottom: 15px;
}

.footer__about__logo a {
	display: inline-block;
}

.footer__widget {
	margin-bottom: 30px;
	overflow: hidden;
}

.footer__widget h6 {
	color: #1c1c1c;
	font-weight: 700;
	margin-bottom: 10px;
}

.footer__widget ul {
	width: 50%;
	float: left;
}

.footer__widget ul li {
	list-style: none;
}

.footer__widget ul li a {
	color: #1c1c1c;
	font-size: 14px;
	line-height: 32px;
}

.footer__widget p {
	font-size: 14px;
	color: #1c1c1c;
	margin-bottom: 30px;
}

.footer__widget form {
	position: relative;
	margin-bottom: 30px;
}

.footer__widget form input {
	width: 100%;
	font-size: 16px;
	padding-left: 20px;
	color: #1c1c1c;
	height: 46px;
	border: 1px solid #ededed;
}

.footer__widget form input::placeholder {
	color: #1c1c1c;
}

.footer__widget form button {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0 26px;
	height: 100%;
}

.footer__widget .footer__widget__social a {
	display: inline-block;
	height: 41px;
	width: 41px;
	font-size: 16px;
	color: #404040;
	border: 1px solid #ededed;
	border-radius: 50%;
	line-height: 38px;
	text-align: center;
	background: #ffffff;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	margin-right: 10px;
}

.footer__widget .footer__widget__social a:last-child {
	margin-right: 0;
}

.footer__widget .footer__widget__social a:hover {
	background: #7fad39;
	color: #ffffff;
	border-color: #ffffff;
}

.footer__copyright {
	border-top: 1px solid #ebebeb;
	padding: 15px 0;
	overflow: hidden;
	margin-top: 20px;
}

.footer__copyright__text {
	font-size: 14px;
	color: #1c1c1c;
	float: left;
	line-height: 25px;
}

.footer__copyright__payment {
	float: right;
}
.footer__widget ul li a{
	text-decoration: none;
}
.badge-notify{
    background:red;
    position:relative;
    top: -20px;
    right: 10px;
  }
  .my-cart-icon-affix {
    position: fixed;
    z-index: 999;
  }
  .pos-abo{
	position:absolute;
	top:10%;
	left: 45%;
  }
.img-block{
	max-height:100% ;
	max-width: none;
}
.pos-abo h2{ 
	color: #f5f5f5;
}
.pos-abo .breadcrumb__option a{
	text-decoration: none;
	color: #f5f5f5;
}
.pos-abo .breadcrumb__option span{
	text-decoration: none;
	color: #f5f5f5;
}

.blog__sidebar {
	padding-top: 50px;
}

.blog__sidebar__item {
	margin-bottom: 50px;
}

.blog__sidebar__item h4 {
	color: #1c1c1c;
	font-weight: 700;
	margin-bottom: 25px;
}

.blog__sidebar__item ul li {
	list-style: none;
}

.blog__sidebar__item ul li a {
	font-size: 16px;
	color: #666666;
	line-height: 48px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.blog__sidebar__item ul li a:hover {
	color: #7fad39;
}

.blog__sidebar__search {
	margin-bottom: 50px;
}

.blog__sidebar__search form {
	position: relative;
}

.blog__sidebar__search form input {
	width: 100%;
	height: 46px;
	font-size: 16px;
	color: #6f6f6f;
	padding-left: 15px;
	border: 1px solid #e1e1e1;
	border-radius: 20px;
}

.blog__sidebar__search form input::placeholder {
	color: #6f6f6f;
}

.blog__sidebar__search form button {
	font-size: 16px;
	color: #6f6f6f;
	background: transparent;
	border: none;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	padding: 0px 18px;
}

.blog__sidebar__recent .blog__sidebar__recent__item {
	display: block;
}

.blog__sidebar__recent .blog__sidebar__recent__item:last-child {
	margin-bottom: 0;
}

.blog__sidebar__recent__item {
	overflow: hidden;
	margin-bottom: 20px;
}

.blog__sidebar__recent__item__pic {
	float: left;
	margin-right: 20px;
}

.blog__sidebar__recent__item__text {
	overflow: hidden;
}

.blog__sidebar__recent__item__text h6 {
	font-weight: 700;
	color: #333333;
	line-height: 20px;
	margin-bottom: 5px;
}

.blog__sidebar__recent__item__text span {
	font-size: 12px;
	color: #999999;
	text-transform: uppercase;
}

.blog__sidebar__item__tags a {
	font-size: 16px;
	color: #6f6f6f;
	background: #f5f5f5;
	display: inline-block;
	padding: 7px 26px 5px;
	margin-right: 6px;
	margin-bottom: 10px;
}
.blog__sidebar__item ul li a{
	text-decoration: none;
}
.blog__btn{
	text-decoration: none;
}
.blog__sidebar__recent__item{
	text-decoration: none;
}
.blog__sidebar__item__tags a{
	text-decoration: none;
}
.product__pagination,
.blog__pagination {
	padding-top: 10px;
}

.product__pagination a,
.blog__pagination a {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid #b2b2b2;
	font-size: 14px;
	color: #b2b2b2;
	font-weight: 700;
	line-height: 28px;
	text-align: center;
	margin-right: 16px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.product__pagination a:hover,
.blog__pagination a:hover {
	background: #7fad39;
	border-color: #7fad39;
	color: #ffffff;
}

.product__pagination a:last-child,
.blog__pagination a:last-child {
	margin-right: 0;
}
.product__pagination a{
	text-decoration: none;
}
.pr a{
	text-decoration: none;
}


.header__menu ul li.active a {
	color: #7fad39;
}

.header__menu ul li:hover .header__menu__dropdown {
	top: 30px;
	opacity: 1;
	visibility: visible;
}
.header_menu_dropdown{
	display:none;
}
.header_menu:hover .header_menu_dropdown{
	display: block;
}
.abon{
	position: absolute;
	list-style: none;
	z-index: 10;
	width: 200px;
	left: -30px;
}
.abon li{
	
	background-color: black;
	color: #f5f5f5;
	height:40px;
}
.abon li a{
	margin-left: 10px;
	
}
.abon li:hover a{
	color: #7fad39;
}
.badge-notify{
    background:red;
    position:relative;
    top: -20px;
    right: 10px;
  }
  .my-cart-icon-affix {
    position: fixed;
    z-index: 999;
  }
  .shoping__cart__btns a{
	text-decoration: none;
  }
  .shoping__checkout a{
	text-decoration: none;
  }